@import reset.sass

@font-face
  font-family: Gotham
  font-weight: normal
  src: url('../fonts/gothamrnd-light.otf') format("opentype")


$branco: rgb(255, 255, 255)
$preto: rgb(0, 0, 0)

body
  font-family: Gotham, cursive
  background: $preto

  .layout
    .cabecalho
      width: 100%
      height: 70px
      position: fixed
      background: rgb(97, 108, 112)
      box-shadow: 0 5px 2px $preto

      .elementos
        width: 960px
        margin: 0 auto

        .logotipo
          width: 200px
          height: 110px
          background: rgb(97, 108, 112) url('../imagens/logotipo.png') no-repeat 0 18px
          float: left

        .busca
          width: 575px
          text-align: center
          padding: 20px
          float: left

          .formulario
            form
              label
                font-size: 14px
                font-weight: bold
                text-transform: uppercase
                color: $branco
                margin: 0 20px 0 0

              input[type="text"]
                width: 330px
                height: 20px
                font-family: Gotham, cursive
                border: 0
                border-radius: 20px
                padding: 5px
                background: rgb(127, 137, 139)
                -webkit-transition: all 0.2s linear
                -moz-transition: all 0.2s linear
                -ms-transition: all 0.2s linear
                -o-transition: all 0.2s linear
                transition: all 0.2s linear

              input[type="text"]:focus
                box-shadow: inset 0px 0px 1px $preto
                color: rgb(248, 180, 131)

              input[type="button"]
                width: 16px
                height: 16px
                position: absolute
                margin: 5px 0 0 -25px
                cursor: pointer
                background: url('../imagens/lupa.png') no-repeat
                border: 0
                outline: 0

        .menu-categorias
          float: left
          margin: 27px 0 0 15px

          .cabecalho-categorias
            color: $branco
            cursor: pointer

            .titulo
              float: left

              p
                -webkit-transition: all 0.3s linear
                -moz-transition: all 0.3s linear
                -ms-transition: all 0.3s linear
                -o-transition: all 0.3s linear
                transition: all 0.3s linear
                text-transform: uppercase
            
            .titulo:hover
              p
                color: rgb(127, 137, 139)

            .seta
              padding: 2px 10px
              float: left

              p
                font-size: 10px

          .aba
            width: 0
            height: 0
            border: 15px solid
            border-color: transparent transparent rgb(127, 137, 139) transparent
            margin: -37px 0 -8px 42px
            padding: 7px 0 0 0

          .lista-categorias
            width: 115px
            float: left
            margin: 20px 0 0 0
            background: rgb(127, 137, 139)
            border-left: 2px solid rgb(248, 180, 131)

            ul
              li
                padding: 10px 5px
                border-bottom: 1px dotted rgb(97, 108, 112)

                a
                  border: 0
                  outline: 0
                  cursor: pointer
                  text-transform: uppercase
                  font-size: 14px
                  color: $branco
                  text-decoration: none
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear

                a:hover
                  color: rgb(248, 180, 131)

                a:active
                  color: rgb(164, 209, 228)
              
              li:first-child
                padding-top: 20px

              li:last-child
                border: none
                padding-bottom: 10px

    /*! Testing */
    .video
      padding: 100px 0 0 0

      .player
        #flv-player
          width: 960px
          height: 500px
          display: block
          margin: 0 auto

      .clips
        width: 960px
        margin: 0px auto

        a
          width: 100px
          height: 600px
          background: red
          border-right: 10px solid $branco
          outline: none
          float: left

      .nome-anunciante,
      .informacoes-anunciante
        width: 960px
        margin: 0 auto