.video
  .player
    #flv-player
      width: 960px
      height: 500px
      display: block
      margin: 0 auto

  .clips
    width: 960px
    margin: 0px auto

    a
      float: left
      width: 100px
      height: 100px
      background: red
      border-right: 10px solid rgb(255, 255, 255)
      outline: none

  .nome-anunciante,
  .informacoes-anunciante
    width: 960px
    margin: 0 auto
    -webkit-transition: all 0.3s linear
    -moz-transition: all 0.3s linear
    -ms-transition: all 0.3s linear
    -o-transition: all 0.3s linear
    transition: all 0.3s linear
