!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %meta{:name => "author", :content => ""}/
    %link{:rel => "stylesheet", :href => "css/styles.min.css"}/
    %title TV Mauá e Região &#8212; Testing version
  %body
    .layout
      .cabecalho
        .elementos
          %a{:href => "#", :title => "TV Mauá e Região"}
            .logotipo

          .busca
            .formulario
              %form{:action => "pesquisar.php"}
                %label{:for => "campo-buscar"} Procurar
                %input{:id => "campo-buscar", :type => "text"}/
                %input{:type => "button", :value => " "}/

          .menu-categorias
            .cabecalho-categorias
              .titulo
                %p Categorias
              .seta
                %p &#9660;
            .lista-categorias
              .aba
              %ul
                - ["Automóveis", "Decoração", "Imóveis", "Construção", "Móveis", "Moda", "Games", "Outros"].sort.each do |i|
                  %a{:href => "#"}
                    %li #{i}

      .conteudo
        .player
          .video
            %a{:id => "flv-player", :href => "videos/dona-pimenta-final.flv"}

        .publicidade

        .informacoes-anunciante
          .nome-anunciante
          .categoria

        .botao-mais-informacoes
          %input{:type => "button", :value => "Mais Informações"}/


      .lista-de-videos
        .controles
          %input{:type => "button", :value => " ", :title => "Anterior", :class => "anterior"}
          %input{:type => "button", :value => " ", :title => "Próximo", :class => "proximo"}

        .clips
          %ul
            %li
              %a{:href => "videos/greatway-idiomas.flv", :title => "GreatWay Idiomas", :data => {:categoria => "Formação Profissional"}}
                %img{:src => "imagens/miniaturas/10deep.jpg", :alt => ""}/ 
                %p GreatWay Idiomas
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Dona Pimenta", :data => {:categoria => "Gastronomia"}}
                %img{:src => "imagens/miniaturas/vans.jpg", :alt => ""}/ 
                %p Dona pimenta
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Armazém da Moda", :data => {:categoria => "Moda"}}
                %img{:src => "imagens/miniaturas/cat.jpg", :alt => ""}/ 
                %p Armazém da Moda
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Nevada Supermercados", :data => {:categoria => "Comércio"}}
                %img{:src => "imagens/miniaturas/supra.jpg", :alt => ""}/ 
                %p Nevada Supermercados
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Isa Colchões", :data => {:categoria => "Cama, Mesa e Banho"}}
                %img{:src => "imagens/miniaturas/i7.jpg", :alt => ""}/ 
                %p Isa Colchões
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Egrégora", :data => {:categoria => "Estética"}}
                %img{:src => "imagens/miniaturas/jobs.jpg", :alt => ""}/ 
                %p Egrégora
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Nevada Supermercados", :data => {:categoria => "Comércio"}}
                %img{:src => "imagens/miniaturas/supra.jpg", :alt => ""}/ 
                %p Nevada Supermercados
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Isa Colchões", :data => {:categoria => "Cama, Mesa e Banho"}}
                %img{:src => "imagens/miniaturas/i7.jpg", :alt => ""}/ 
                %p Isa Colchões
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Egrégora", :data => {:categoria => "Estética"}}
                %img{:src => "imagens/miniaturas/jobs.jpg", :alt => ""}/ 
                %p Egrégora

      .box
        .elementos
          %p Aqui serão publicados novos conteúdos lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reprehenderit laboriosam nobis dolor minima eaque obcaecati! Tenetur, non, eum perspiciatis alias deleniti illo quo pariatur. Nesciunt, eos velit optio laborum!

          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, consectetur alias soluta assumenda molestiae facilis at iusto aut harum porro saepe architecto quidem omnis accusantium eius neque dolores illo adipisci! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, pariatur voluptatibus blanditiis dicta mollitia nesciunt vero modi cupiditate consectetur dignissimos ea nemo consequatur ad animi natus deleniti corrupti quo explicabo!

      .sombra
      .rodape
        .elementos
          .informacoes
            .copyright
              %p &copy; <span>2013 Grupo Mauá e Região</span>, todos os direitos reservados.

            .redes-sociais
              %a{:href => "http://facebook.com/imarcker", :target => "_blank"}
                .icone.facebook
              %a{:href => "http://youtube.com/imarcker", :target => "_blank"}
                .icone.youtube

            .links
              %ul
                %li
                  %a{:href => "#"} Sobre nós
                %li
                  %a{:href => "#"} Anuncie
                %li
                  %a{:href => "#"} Fale conosco

            %a{:href => "http://grupomauaeregiao.com.br", :target => "_blank"}
              .logotipo{:title => "Grupo Mauá e Região de Comunicação"}

    %script{:src => "http://code.jquery.com/jquery-2.0.3.min.js"}
    %script{:src => "js/scripts.js"}