!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %meta{:name => "autor", :content => ""}/
    %link{:rel => "stylesheet", :href => "css/styles.min.css"}/
    %title TV Mauá e Região &#8212; Testing version
  %body
    .layout
      .cabecalho
        .elementos
          %a{:href => "#", :title => "TV Mauá e Região"}
            .logotipo

          .busca
            .formulario
              %form{:action => "pesquisar.php"}
                %label{:for => "campo-buscar"} Procurar
                %input{:id => "campo-buscar", :type => "text"}/
                %input{:type => "button", :value => ""}/

          .menu-categorias
            .cabecalho-categorias
              .titulo
                %p Categoria
              .seta
                %p &#9660;
            .lista-categorias
              .aba
              %ul
                - ["Automóveis", "Decoração", "Imóveis", "Construção", "Móveis", "Moda", "Games", "Outros"].sort.each do |i|
                  %li
                    %a{:href => "#"} #{i}

      .video
        .player
          %a{:id => "flv-player", :href => "videos/dona-pimenta-final.flv"}
        .nome-anunciante
        .informacoes-anunciante
        .clips
          %a{:href => "videos/greatway-idiomas.flv", :title => "GreatWay Idiomas", :data => {:descricao => "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, sequi, repellat deserunt consequuntur reprehenderit dignissimos neque nobis adipisci quas repellendus quae distinctio a modi eius blanditiis est laudantium delectus aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, perferendis, placeat deserunt commodi reprehenderit eum laboriosam nulla odit quibusdam aspernatur consequatur velit iusto impedit eaque quisquam eius sapiente veritatis assumenda!"}}
          %a{:href => "videos/dona-pimenta-final.flv", :title => "Dona Pimenta", :data => {:descricao => "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, sequi, repellat deserunt consequuntur reprehenderit dignissimos neque nobis adipisci quas repellendus quae distinctio a modi eius blanditiis est laudantium delectus aliquid."}}

  %script{:src => "js/scripts.js"}