!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %meta{:name => "author", :content => ""}/
    %link{:rel => "stylesheet", :href => "css/styles.min.css"}/
    %title TV Mauá e Região &#8212; Testing version
  %body
    .layout
      .cabecalho
        .elementos
          %a{:href => "#", :title => "TV Mauá e Região"}
            .logotipo

          .busca
            .formulario
              %form{:action => "pesquisar.php"}
                %label{:for => "campo-buscar"} Procurar
                %input{:id => "campo-buscar", :type => "text"}/
                %input{:type => "button", :value => " "}/

          .menu-categorias
            .cabecalho-categorias
              .titulo
                %p Categoria
              .seta
                %p &#9660;
            .lista-categorias
              .aba
              %ul
                - ["Automóveis", "Decoração", "Imóveis", "Construção", "Móveis", "Moda", "Games", "Outros"].sort.each do |i|
                  %li
                    %a{:href => "#"} #{i}

      .conteudo
        .player
          .video
            %a{:id => "flv-player", :href => "videos/dona-pimenta-final.flv"}

          .informacoes-anunciante
            .nome-anunciante
            .categoria

          .botao-mais-informacoes
            %input{:type => "button", :value => "Mais Informações"}/

        .publicidade

      .lista-de-videos
        .controles
          %input{:type => "button", :value => " ", :title => "Anterior", :class => "anterior"}
          %input{:type => "button", :value => " ", :title => "Próximo", :class => "proximo"}

        .clips
          %ul
            %li
              %a{:href => "videos/greatway-idiomas.flv", :title => "GreatWay Idiomas", :data => {:categoria => "Formação Profissional"}}
            %li
              %a{:href => "videos/dona-pimenta-final.flv", :title => "Dona Pimenta", :data => {:categoria => "Gastronomia"}}

    %script{:src => "http://code.jquery.com/jquery-2.0.3.min.js"}
    %script{:src => "js/scripts.js"}