!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %meta{:name => "autor", :content => ""}/
    %link{:rel => "stylesheet", :href => "css/styles.min.css"}/
    %title TV Mauá e Região &#8212; Testing version
  %body
    .video
      .player
        %a{:id => "flv-player", :href => "http://localhost/TVMauaERegiao/static/videos/thy.flv"}
      .clips
        %a{:href => "http://localhost/TVMauaERegiao/static/videos/coffeescript.flv"}
        %a{:href => "http://localhost/TVMauaERegiao/static/videos/thy.flv"}
        %a{:href => "http://localhost/TVMauaERegiao/static/videos/camisinha.flv"}
  %script{:src => "js/scripts.js"}
