@import reset.sass

@font-face
  font-family: Gotham
  font-weight: normal
  src: url('../fonts/gothamrnd-light.otf') format("opentype")

$branco: rgb(255, 255, 255)
$preto: rgb(0, 0, 0)

.erro
  box-shadow: 0 0 20px rgb(255, 55, 55) !important

.exibir
  display: block !important

.esconder
  display: none

html[data-useragent*="MSIE"]
  body
    font-family: "Lato", cursive !important

  .lista-categorias
    position: absolute !important
    margin-top: 30px !important

  .botao-mais-informacoes
    input
      font-family: "Lato", cursive !important

  .formulario
    form
      input[type="text"]
        font-family: "Lato", cursive !important

  .formulario-fale-conosco
    form
      input[type="text"],
      input[type="button"],
      textarea
        font-family: "Lato", cursive !important

.home
  background: $preto url('../imagens/bg-informacoes-anunciante.jpg') no-repeat 50% 560px

.perfil
  background: $preto url('../imagens/bg-informacoes-anunciante.jpg') no-repeat 50% 110px

.pagina-canal
  background: $preto url('../imagens/bg-informacoes-anunciante-upside.jpg') no-repeat 50% 650px

  .layout
    .conteudo
      .informacoes-anunciante
        border: 0

body
  background: $preto
  font-family: Gotham, cursive

  .layout
    .cabecalho
      width: 100%
      height: 70px
      position: fixed
      z-index: 9999
      background: rgb(97, 108, 112)
      -webkit-transition: all 1s linear
      -moz-transition: all 1s linear
      -ms-transition: all 1s linear
      -o-transition: all 1s linear
      transition: all 1s linear

      .elementos
        width: 960px
        margin: 0 auto

        .logotipo
          width: 200px
          height: 70px
          background: url('../imagens/logotipo.png') no-repeat 0 5px
          float: left

        .busca
          width: 565px
          text-align: center
          padding: 20px
          float: left

          .formulario
            form
              label
                font-size: 14px
                text-transform: uppercase
                color: $branco
                margin: 0 20px 0 0

              input[type="text"]
                width: 330px
                height: 20px
                font-family: Gotham, cursive
                border: 0
                border-radius: 20px
                padding: 5px
                background: rgb(127, 137, 139)
                -webkit-transition: all 0.2s linear
                -moz-transition: all 0.2s linear
                -ms-transition: all 0.2s linear
                -o-transition: all 0.2s linear
                transition: all 0.2s linear

              input[type="text"]:focus
                box-shadow: inset 0 1px 5px $preto
                color: rgb(248, 180, 131)

              input[type="submit"]
                width: 16px
                height: 16px
                position: absolute
                margin: 5px 0 0 -25px
                cursor: pointer
                background: url('../imagens/lupa.png') no-repeat
                border: 0
                outline: 0

        .menu-categorias
          float: left
          margin: 27px 0 0 15px

          .cabecalho-categorias
            color: $branco
            cursor: pointer

            .titulo
              float: left

              p
                -webkit-transition: all 0.3s linear
                -moz-transition: all 0.3s linear
                -ms-transition: all 0.3s linear
                -o-transition: all 0.3s linear
                transition: all 0.3s linear
                text-transform: uppercase
                cursor: pointer

            .titulo:hover
              p
                color: rgb(127, 137, 139)

            .seta
              padding: 2px 10px
              float: left

              p
                font-size: 10px

          .aba
            width: 0
            height: 0
            border: 15px solid
            border-color: transparent transparent rgb(127, 137, 139) transparent
            margin: -37px 0 -8px 60px
            padding: 7px 0 0 0

          .lista-categorias
            width: 155px
            float: left
            margin: 10px 0 0 -30px
            background: rgb(127, 137, 139)
            border-left: 2px solid rgb(248, 180, 131)
            -webkit-transition: all 0.5s linear
            -moz-transition: all 0.5s linear
            -ms-transition: all 0.5s linear
            -o-transition: all 0.5s linear
            transition: all 0.5s linear
            box-shadow: 0 3px 5px $preto
            display: none

            ul
              padding: 8px 0 0 0

              li
                padding: 15px 5px 9px 5px
                -webkit-transition: all 0.3s linear
                -moz-transition: all 0.3s linear
                -ms-transition: all 0.3s linear
                -o-transition: all 0.3s linear
                transition: all 0.3s linear
                border-bottom: 1px dotted rgb(97, 108, 112)


                a
                  outline: 0
                  cursor: pointer
                  text-transform: uppercase
                  font-size: 14px
                  color: $branco
                  text-decoration: none
                  -webkit-transition: all 0.1s linear
                  -moz-transition: all 0.1s linear
                  -ms-transition: all 0.1s linear
                  -o-transition: all 0.1s linear
                  transition: all 0.1s linear

                a:hover
                  color: rgb(248, 180, 131)

                a:active
                  color: rgb(164, 209, 228)

                i
                  color: $branco
                  opacity: 0.2
                  background: rgb(245, 134, 52)
                  padding: 2px 5px 0 4px
                  border-radius: 5px
                  font-size: 12px
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear

              li:hover
                cursor: pointer
                background: rgb(118, 125, 126)

                i
                  opacity: 1

    .cabecalho-canal
      width: 100%
      height: 115px
      margin: 70px 0px 15px 0px
      float: left

      .nome-categoria-canal
        width: 960px
        padding: 55px 0 0 0
        margin: 0 auto

        h2
          background: url('../imagens/logotipo-somente-tv.png') no-repeat
          font-size: 38px
          text-transform: uppercase
          color: rgb(255, 252, 1)
          padding: 1px 0 0 40px

    .conteudo
      width: 960px
      min-height: 440px
      padding: 100px 0 0 0
      margin: 0 auto

      .nome-categoria
        width: 960px
        border-bottom: 1px solid rgb(97, 181, 228)
        margin: 0 0 20px 0

        h2
          font-size: 30px
          text-transform: uppercase
          color: rgb(97, 181, 228)
          padding: 0 0 10px 0


      .titulo-pagina
        width: 960px
        border-bottom: 1px solid rgb(97, 181, 228)
        margin: 0 0 20px 0

        h2
          font-size: 30px
          text-transform: uppercase
          color: rgb(97, 181, 228)
          padding: 0 0 10px 0

      .lista-de-informacoes
        width: 960px
        margin: 0 auto
        padding: 40px 0 0 0
        margin-bottom: 40px
        border-top: 2px solid rgb(51, 51, 51)
        float: left

        .box
          .elementos
            .texto
              padding: 0 0 0 20px

              p
                font-size: 20px
                line-height: 22px
                text-indent: 0

                strong
                  font-weight: 900

                a
                  color: rgb(230, 230, 230)
                  text-decoration: none
                  font-weight: 700
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear

                a:hover
                  color: rgb(255, 255, 255)


      .titulo-perfil
        h2
          font-size: 30px
          text-transform: uppercase
          color: rgb(188, 192, 204)
          padding: 55px 0 10px 0
          margin: 0 0 20px 0

      .mensagem-busca
        width: 960px
        border-bottom: 1px solid rgb(97, 181, 228)
        margin: 0 0 20px 0

        h2
          font-size: 30px
          text-transform: uppercase
          padding: 0 0 10px 0
          color: $branco

          i
            color: rgb(97, 181, 228)

      .player
        width: 760px
        float: left

        .video
          float: left

          #flv-player
            width: 760px
            height: 450px
            margin: 0 auto
            padding-bottom: 2px
            display: block
            border: 0
            outline: 0

            object
              border: 0
              outline: 0

      .individual
        width: 960px

        .video
          #flv-player
            width: 960px

      .canal + .informacoes-anunciante
        .informacoes-anunciante-nome
          width: 960px !important

      .informacoes-anunciante
        margin: 10px 0 0 0
        border-top: 1px solid rgb(50, 50, 50)
        float: left

        .informacoes-anunciante-nome
          width: 740px
          margin: 29px 0 10px 0
          color: rgb(188, 192, 204)
          float: left

          .nome-anunciante
            h1
              font-size: 40px


        .botao-mais-informacoes
          width: auto
          margin: 35px 0 0 56px
          float: left

          input
            width: auto
            height: 30px
            cursor: pointer
            font: 16px "Gotham", cursive
            text-transform: uppercase
            color: $branco
            background: rgb(1, 125, 195)
            border: 0
            outline: 0
            padding: 5px 15px
            -webkit-transition: all 0.3s linear
            -moz-transition: all 0.3s linear
            -ms-transition: all 0.3s linear
            -o-transition: all 0.3s linear
            transition: all 0.3s linear

          input:hover
            background: rgb(96, 176, 222)

      .informacoes-video-canal
        color: rgb(188, 192, 204)
        font-size: 20px
        margin: 0 0 50px 0

        .data
          margin: 0 0 50px 0

        .descricao-video
          margin: -20px 0 0 50px

      .publicidade
        width: 180px
        height: 450px
        margin: 0 0 0 20px
        background: rgb(77, 77, 77)
        float: left

        a
          border: 0
          outline: 0

          img
            width: 180px
            height: 450px

    .lista-de-videos
      width: 100%
      margin: 0 0 20px 0
      float: left

      .controles
        input
          width: 50px
          height: 190px
          margin: 20px 15px
          z-index: 9998
          font-size: 50px
          color: white
          position: absolute
          background: transparent
          cursor: pointer
          border: 0
          outline: 0

        .anterior
          background: url('../imagens/seta-anterior.png') no-repeat 50%
          left: 0

        .proximo
          background: url('../imagens/seta-proximo.png') no-repeat 50%
          right: 0

      .clips
        width: 100% !important
        height: 240px !important
        margin: 0 auto
        background: rgb(26, 26, 26)
        padding: 20px 0

        ul
          li
            width: 220px
            display: inline-block
            margin: 0 10px
            border-bottom: 2px solid rgb(77, 77, 77)
            -webkit-transition: all 0.3s linear
            -moz-transition: all 0.3s linear
            -ms-transition: all 0.3s linear
            -o-transition: all 0.3s linear
            transition: all 0.3s linear

            a
              color: rgb(127, 127, 127)
              font-size: 18px
              text-decoration: none
              -webkit-transition: all 0.3s linear
              -moz-transition: all 0.3s linear
              -ms-transition: all 0.3s linear
              -o-transition: all 0.3s linear
              transition: all 0.3s linear
              border: 0
              outline: 0

              img
                width: 220px
                height: 180px
                display: block
                border: 0
                outline: 0

              p
                padding: 10px

            a:hover
              color: rgb(200, 200, 200)

          li:hover
            border-bottom: 2px solid rgb(245, 134, 52)

      .cabecalho-lista-de-videos
        border-bottom: 1px solid rgb(120, 120, 120)
        margin: 15px 0

        h2
          font-size: 30px
          padding: 0 0 5px 0
          text-transform: uppercase
          color: rgb(120, 120, 120)

      .clips-categoria
        width: (100% - 5%) !important
        height: auto !important
        background: transparent
        padding: 0 20px


        ul
          width: 100% !important
          height: auto !important
          position: static !important
          text-align: center !important

          li
            width: 220px
            height: 160px
            border: 1px solid rgb(70, 70, 70)
            margin: 0 10px 15px 10px

            a
              img
                width: auto
                height: auto

          li:hover
            border: 1px solid rgb(255, 255, 255)

      .cabecalho-lista-de-videos + .caroufredsel_wrapper
        position: static !important
        height: auto !important

    .lista-de-programas
      width: 100%
      padding: 0 0 25px 0
      margin: -20px 0 -1px 0
      background: rgb(33, 33, 33)
      float: left

      .conteudo-programas
        width: 960px
        margin: 0 auto

        .titulo
          margin: 30px 0 0 0

          h2
            color: rgb(97, 181, 228)
            text-transform: uppercase
            font-size: 30px

        .programas
          width: 960px
          margin: 0 auto

          .programa
            width: 440px
            height: 260px
            margin: 20px 20px
            float: left

            a
              border: 0
              outline: 0

              .imagem
                img
                  width: 240px
                  height: 250px

            .aba-imagem
              width: 20px
              height: 250px
              margin: -255px 0 0 220px
              position: relative
              background: transparent url('../imagens/aba-programas.png') no-repeat

            .informacoes-programa
              position: relative
              margin: -100px 0 0 -10px

              .categoria-programa
                text-align: right
                padding: 0 15px 5px 0

                a
                  color: $branco
                  text-transform: uppercase
                  text-decoration: none
                  font-size: 18px
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear
                  border: 0
                  outline: 0

                a:hover
                  color: rgb(200, 200, 200)

              .nome-programa
                height: 65px
                overflow: hidden
                padding: 20px 5px 3px 15px
                background: rgba(0, 0, 0, 0.6)
                border-radius: 10px

                a
                  color: $branco
                  text-transform: uppercase
                  text-decoration: none
                  font-size: 24px
                  line-height: 28px
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear
                  border: 0
                  outline: 0

              a:hover
                color: rgb(210, 210, 210)

    .lista-videos-canal
      margin: 50px 0 20px 0

      .clips
        width: 960px !important
        margin: 0 auto

        ul
          text-align: left !important

          li
            border: 0
            margin: 0 20px 70px 0

            a
              p
                height: 36px
                border-bottom: 2px solid rgb(130, 130, 130)
                background: rgb(26, 26, 26)
                color: rgb(130, 130, 130)
                -webkit-transition: all 0.3s linear
                -moz-transition: all 0.3s linear
                -ms-transition: all 0.3s linear
                -o-transition: all 0.3s linear
                transition: all 0.3s linear

          li:nth-child(4n)
            margin-right: 0

          li:hover
            border: 0

            a
              p
                color: $branco



      .clips
        .caroufredsel_wrapper
          height: auto !important

    .icone-lupa
      width: 25px
      height: 20px
      background: url('../imagens/lupa.png') no-repeat
      margin: 8px
      float: left

    .box
      width: 100%
      float: left

      .elementos
        width: 960px
        margin: 0 auto

        p
          color: $branco

        .texto
          p
            font-size: 18px
            text-indent: 20px

            span
              font-weight: 900

          .margem-abaixo
            margin: 0 0 -5px 0

          ul
            li
              text-indent: 20px
              font-size: 18px
              margin: 0 0 20px 0
              color: $branco

        .icones-produtos
          width: 918px
          margin: 0 auto
          margin-top: 20px

          a
            .icone
              width: 129px
              height: 129px
              float: left
              margin: 50px

            .revista
              background: url('../imagens/icone-revista.png') no-repeat

            .jornal
              background: url('../imagens/icone-jornal.png') no-repeat

            .portal
              background: url('../imagens/icone-portal.png') no-repeat

            .facebook
              background: url('../imagens/icone-facebook.png') no-repeat

        .busca-por-videos
          float: left

          p
            font-size: 20px
            line-height: 40px

            i
              color: rgb(97, 181, 228)
              font-style: italic

        .sugestoes
          width: 960px
          float: left
          margin: 20px 0 0 0

          .sugestao
            width: 960px
            height: 106px
            overflow: hidden
            margin: 0 0 10px 0
            background: rgb(3, 3, 3)
            padding: 7px 0 0 0
            -webkit-transition: all 0.3s linear
            -moz-transition: all 0.3s linear
            -ms-transition: all 0.3s linear
            -o-transition: all 0.3s linear
            transition: all 0.3s linear
            border: 0
            outline: 0
            font-size: 30px
            text-decoration: none
            color: $branco
            float: left
            text-shadow: 0px 1px 2px rgb(0, 0, 0)

            .imagem
              margin: 0 10px 0 0
              float: left

              img
                width: 120px
                height: 100px

            .categoria
              line-height: 100px

              span
                i
                  font-size: 20px
                  color: $branco
                  -webkit-transition: all 0.3s linear
                  -moz-transition: all 0.3s linear
                  -ms-transition: all 0.3s linear
                  -o-transition: all 0.3s linear
                  transition: all 0.3s linear

          .sugestao:hover
            background: rgb(5, 5, 5)
            color: rgb(245, 134, 52)

        .mensagem-sucesso,
        .formulario-fale-conosco
          width: 480px
          margin: -20px 0 0 0
          float: left

        .mensagem-sucesso
          display: none

          p
            color: $branco
            font-size: 25px
            padding: 10px

        .formulario-fale-conosco
          form
            padding: 50px 10px 10px 10px

            label
              color: $branco
              font-size: 18px
              text-transform: uppercase
              margin: 0 0 0 10px

            input[type="text"],
            textarea
              width: 420px
              color: rgb(220, 220, 220)
              font: 15px Gotham, cursive
              border-radius: 20px
              background: $preto
              margin: 5px 0 15px 0
              padding: 5px
              border: 1px solid $branco
              resize: none
              outline: none

            input[type="text"]
              height: 20px

            textarea
              height: 50px

            input[type="text"]:focus,
            textarea:focus
              box-shadow: 0 0 20px rgb(255, 255, 255)

            input[type="button"]
              border: 0
              outline: 0
              padding: 10px
              color: $branco
              text-transform: uppercase
              background: transparent
              font: 18px Gotham, cursive
              cursor: pointer

            input[type="button"]:hover,
            input[type="button"]:focus
              text-shadow: 0 0 10px rgb(97, 181, 228)

        .telefone-endereco
          width: 380px
          height: 300px
          background: rgb(51, 51, 51)
          margin: -20px 0 0 0
          padding: 50px
          float: left
          font-size: 18px
          text-transform: uppercase

          .telefone
            float: left

            .imagem-telefone
              width: 20px
              height: 20px
              margin: 0 10px 0 0
              background: url('../imagens/icone-telefone.png') no-repeat
              float: left

            .numero
              width: 350px
              float: left

              i
                font-size: 14px

          .endereco
            margin: 25px 0
            float: left

            p
              line-height: 22px

          .email
            a
              font-size: 14px
              color: $branco
              text-decoration: none
              -webkit-transition: all 0.3s linear
              -moz-transition: all 0.3s linear
              -ms-transition: all 0.3s linear
              -o-transition: all 0.3s linear
              transition: all 0.3s linear

            a:hover
              color: rgb(200, 200, 200)


    .banner-pagina-acima
      width: 100%
      height: 370px
      background: url('../imagens/banners/banner-sobre-nos.jpg') no-repeat 0 15%
      background-size: cover

    .banner-fale-conosco
      background: url('../imagens/banners/banner-fale-conosco.jpg') no-repeat 0 35%
      background-size: cover

    .banner-pagina-acima + .conteudo
      padding-top: 50px

    .banner-pagina-abaixo
      width: 100%
      height: 300px
      margin: 0 0 30px 0
      background: url('../imagens/banners/banner-anuncie.jpg') no-repeat
      background-size: cover

    .sombra
      width: 100%
      height: 25px
      margin: 0 auto
      background: url('../imagens/sombra-rodape.jpg') no-repeat 50%
      float: left

    .invertida
      background: url('../imagens/sombra-rodape-invertido.jpg') no-repeat 50%

    .rodape
      width: 100%
      height: 85px
      padding: 10px 0 0 0
      background: rgb(41, 51, 53) url('../imagens/bg-rodape.jpg') repeat-x
      // box-shadow: inset 0 20px 25px $preto
      float: left

      .elementos
        width: 960px
        padding: 10px
        margin: 0 auto


        .copyright
          height: 65px
          font-size: 12px
          line-height: 65px
          margin: 0 12px  0 0
          color: $branco
          float: left

          span
            text-transform: uppercase

        .redes-sociais
          float: left

          .icone
            width: 42px
            height: 43px
            margin: 10px
            float: left

          .facebook
            background: url('../imagens/logotipo-facebook.png') no-repeat

          .youtube
            background: url('../imagens/logotipo-youtube.png') no-repeat

        .links
          margin: 0 15px 0 0
          float: left

          ul
            li
              display: inline-block
              padding: 0 10px

              a
                font-size: 14px
                color: $branco
                text-transform: uppercase
                text-decoration: none
                line-height: 65px
                -webkit-transition: all 0.3s linear
                -moz-transition: all 0.3s linear
                -ms-transition: all 0.3s linear
                -o-transition: all 0.3s linear
                transition: all 0.3s linear
                border: 0
                outline: 0

              a:hover
                color: rgb(245, 134, 52)

        .logotipo
          width: 60px
          height: 60px
          background: url('../imagens/logotipo-grupo-maua-e-regiao.png') no-repeat
          background-size: 60px
          float: left